html, body {
  height: 100%;
  width: 100%;
}
/* Style the navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: 'Gemunu Libre', sans-serif;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the header */
header {
  font-family: 'Gemunu Libre', sans-serif;
  padding: 20px;
  text-align: center;
}
p{
  font-family: 'Gemunu Libre', sans-serif;
}
h1{

  font-family: cursive;
}
h2{

}
h3{

}
h4{

}
p{

}
button{

}
button:active {
  background-color:black;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}
a{

}
